{% extends 'base.html' %}
{% block title %}
Armani-Gold-And-Armani-Grey
{% endblock title %}

{% block body %}
{% load static %}

<div class="fullwidth-template">
  <div class="container">


    <div class="row">











      <div class="col-md-2 menunew25 menu" style="display: none">
        <div class="navbar-collapse">
          <ul id="menu-main-menu" class="nav nav-pills nav-stacked menu" style="display: none">
            <li id="test1" class="menu-item" runat="server">
              <a href="/porcelain" onclick="addClassToLi()">PORCELAIN</a>
              <ul class="sub-menu">
                <li class="menu-item">
                  <a href="/porcelain-indoor">Porcelain Indoor</a>
                </li>
                <li class="menu-item">
                  <a href="#">Porcelain Outdoor</a>
                </li>
              </ul>
            </li>
            <li id="test2" class="menu-item" runat="server">
              <a href="/veneer">VENEER</a>
            </li>
            <li id="test3" class="menu-item" runat="server">
              <a href="/spc">SPC</a>
            </li>
          </ul>
        </div>
      </div>



      <div class="col-md-2 main-sub-navigation do-transition menu bmenu">
        <div class="only-mobile-h">
          <a class="image-title-link-box product  not-slide onlyone" href="/Aldo-Beige-And-Noce-Marrone">
            <span class="slide">Aldo Beige And Noce Marrone</span>
            <img class="img-responsive slide" src="static/images/Aldo-Beige-And-Noce-Marrone-300x300.png.webp">
          </a>
          <a class="image-title-link-box product  not-slide onlyone" href="/Ammonite-Bianco">
            <span class="slide">Ammonite Bianco</span>
            <img class="img-responsive slide" src="static/images/Ammonite-Bianco-300x300.webp">
          </a>
          <a class="image-title-link-box product  not-slide onlyone"
            href="/Antique-Botticino-And-Black-Gold-Travertine">
            <span class="slide">Antique Botticino And Black Gold Travertine</span>
            <img class="img-responsive slide"
              src="static/images/Antique_Botticino-_And_Black_Gold_Travertine-300x300.webp">
          </a>
          <a class="image-title-link-box product  not-slide onlyone" href="/Ardesia-Grigio">
            <span class="slide">Ardesia Grigio</span>
            <img class="img-responsive slide" src="static/images/Ardesia_Grigio-300x300.webp">
          </a>
          <a class="image-title-link-box product  not-slide onlyone" href="/Armani-Beige-And-Armani-Gold">
            <span class="slide">Armani Beige And Armani Gold</span>
            <img class="img-responsive slide" src="static/images/Armani-Beige-And-Armani-Gold-300x300.png.webp">
          </a>
          <a class="image-title-link-box product  not-slide onlyone" href="/Armani-Gold-And-Armani-Grey">
            <span class="slide">Armani Gold And Armani Grey</span>
            <img class="img-responsive slide" src="static/images/Armani_Gold_And_Armani_Grey-300x300.webp">
          </a>
          <a class="image-title-link-box product  not-slide onlyone" href="/Astonia-Grey">
            <span class="slide">Astonia Grey</span>
            <img class="img-responsive slide" src="static/images/Astonia_Grey-300x300.webp">
          </a>

        </div>
      </div>


      <div class="col-md-8">


        <div class="imgproducts"><img src="static\images\Armani_Gold_And_Armani_Grey.webp" alt="Granite Pavers &amp; Tiles"></div>

        <h1 class="productstag" style="margin-top: 55px;">Porcelain Slabs</h1>

        <p class="premun"></p>
        <p class="premun">MPG Stone is one of the leading Porcelain tile slab manufacturers in India and exports the
          slabs to the UK, USA, and other countries. The slabs are significantly more cost effective than natural stone
          slabs and tile. The uniqueness of Porcelain slab is that it can be manufactured with comparable beauty, thanks
          to inkjet production technologies.</p>

        <p class="premun">Porcelain slabs are lightweight, durable, nonporous, stain resistant, heat resistant, so they
          are suitable for floors, accent walls, backsplashes, countertops, and other residential and commercial
          projects in the area such as kitchen and bathrooms.</p>

        <p class="premun">Due to its lightweight they are suitable for a variety of design projects, including new
          installations and remodelling projects.</p>
        <p class="premun">A Porcelain countertop can handle hot pans and pots placed on its surface. The Porcelain won’t
          smoke, burn, or emit any harmful substance. They are also UV-resistant. As Porcelain is a good conductor of
          heat they can make your home feel warm during winters. The other characteristics of Porcelain is that they
          don’t contract or expand with the changes in temperature, hence they do not crack easily.</p>
        <p class="premun">Porcelain can be categorised into some of the following types i.e. Homogeneous, Full
          Coloured-Body, Speckled-Body & Double Loading, and Off-white Body.</p>
        <p></p>




      </div>

    </div>

    <!-- image for porcelain-slab -->
    <div class="col-md-12">



      <h1 class="productstag" style="margin-top: 55px;">View Our Premium Porcelain Slabs &amp; Tiles</h1>

      <p class="premun"></p>
      <p class="premun">More Items</p>



      <div class="row" style="
      margin-top: 50px;
  ">


        <div class="col-md-3">
          <div class="product-box">
            <a href="/product-category/pavers-tiles/travertine/"><img src="static/images/Ammonite-Bianco.webp" alt=""
                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
            <p class="product-name"><a href="/product-category/pavers-tiles/travertine/">Ammonite Bianco</a></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product-box">
            <a href="/product-category/pavers-tiles/granite/"><img src="static/images/Aldo-Beige-And-Noce-Marrone.webp"
                alt=""
                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
            <p class="product-name"><a href="/product-category/pavers-tiles/granite/">Granite</a></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product-box">
            <a href="/product-category/pavers-tiles/limestone/"><img
                src="static/images/Antique_Botticino-_And_Black_Gold_Travertine.webp" alt=""
                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
            <p class="product-name"><a href="/product-category/pavers-tiles/limestone/">Antique Botticino And Black Gold
                Travertine</a></p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="product-box">
            <a href="/product-category/pavers-tiles/travertine/"><img src="static/images/Ardesia_Grigio.webp" alt=""
                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
            <p class="product-name"><a href="/product-category/pavers-tiles/travertine/">Ardesia Grigio</a></p>
          </div>
        </div>




      </div>

      <div class="row mobile-row" style="
      margin-top: 20px;
  ">
        <div class="col-md-3">
          <div class="product-box">
            <a href="/product-category/pavers-tiles/travertine/"><img
                src="static/images/Armani-Beige-And-Armani-Gold.webp" alt=""
                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
            <p class="product-name"><a href="/product-category/pavers-tiles/travertine/">Armani Beige And Armani
                Gold</a></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product-box">
            <a href="/product-category/pavers-tiles/granite/"><img src="static/images/Armani_Gold_And_Armani_Grey.webp"
                alt=""
                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
            <p class="product-name"><a href="/product-category/pavers-tiles/granite/">Armani Gold And Armani_Grey</a>
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product-box">
            <a href="/product-category/pavers-tiles/limestone/"><img src="static/images/Astonia_Grey.webp" alt=""
                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
            <p class="product-name"><a href="/product-category/pavers-tiles/limestone/">Astonia Grey</a></p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="product-box">
            <a href="/product-category/pavers-tiles/travertine/"><img src="static/images/ATLANTIC-WHITE_2.webp" alt=""
                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
            <p class="product-name"><a href="/product-category/pavers-tiles/travertine/">Atlantic White</a></p>
          </div>
        </div>


      </div>

      <div class="row mobile-row" style="
      margin-top: 20px;
  ">


        <div class="col-md-3">
          <div class="product-box">
            <a href="/product-category/pavers-tiles/travertine/"><img src="static/images/Basil-Grafito.webp" alt=""
                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
            <p class="product-name"><a href="/product-category/pavers-tiles/travertine/">Basil Grafito</a></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product-box">
            <a href="/product-category/pavers-tiles/granite/"><img src="static/images/Breccia_beige.webp" alt=""
                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
            <p class="product-name"><a href="/product-category/pavers-tiles/granite/">Breccia Beige</a></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product-box">
            <a href="/product-category/pavers-tiles/limestone/"><img src="static/images/calacatta_Bianco_oro.webp"
                alt=""
                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
            <p class="product-name"><a href="/product-category/pavers-tiles/limestone/">calacatta Bianco Oro</a></p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="product-box">
            <a href="/product-category/pavers-tiles/travertine/"><img src="static/images/calacatta_Borghini.webp" alt=""
                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
            <p class="product-name"><a href="/product-category/pavers-tiles/travertine/">calacatta Borghini</a></p>
          </div>
        </div>



      </div>
      <p></p>




    </div>
  </div>
</div>






<script>
  {
    var li = parent.document.getElementById("test1");
    li.classList.add("active");
  }
</script>
</body>


{% endblock body %}