<div class="col-md-2 menunew25 menu" style="display: none">
  <div class="navbar-collapse">
    <ul id="menu-main-menu" class="nav nav-pills nav-stacked menu" style="display: none">
      <li class="menu-item">
        <a href="/product-category/pavers-tiles/">SLAB &amp; TILES</a>
        <ul class="sub-menu">
          <li class="menu-item nnhot">
            <a href="/product-category/pavers-tiles/travertine/">Travertine</a>
          </li>
          <li class="menu-item">
            <a href="/product-category/pavers-tiles/granite/">Granite</a>
          </li>
          <li class="menu-item">
            <a href="/product-category/pavers-tiles/limestone/">Limestone</a>
          </li>
          <li class="menu-item">
            <a href="/product-category/pavers-tiles/marble/">Marble</a>
          </li>
          <li class="menu-item">
            <a href="/product-category/pavers-tiles/bluestone/">Bluestone</a>
          </li>
          <li class="menu-item">
            <a href="/product-category/pavers-tiles/sandstone/">Sandstone</a>
          </li>
          <li class="menu-item">
            <a href="/product-category/pavers-tiles/slatestone/">Slatestone</a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="/product-category/walling/">OUTDOOR STONES &amp; PAVERS</a>
        <ul class="sub-menu">
          <li class="menu-item">
            <a href="/product-category/walling/free-style/">Free Style</a>
          </li>
          <li class="menu-item">
            <a href="/product-category/walling/stacked-stone/">Stacked Stone</a>
          </li>
          <li class="menu-item">
            <a href="/product-category/walling/dry-stone/">Dry Stone</a>
          </li>
          <li class="menu-item">
            <a href="/product-category/walling/traditional/">Traditional</a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="/product-category/porcelain/">PORCELAIN</a>
      </li>
    </ul>
  </div>
</div>
