{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>{% block title %} {% endblock title %}</title>
  <meta content="ecommerce website we deliver products in 1 hours" name="description" />
  <meta content="ecommerce" name="amazon,flipkart,selling,products" />

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet" />

  <!-- bootstrap=5.0 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Vendor CSS Files -->
  <!-- <link href="{% static '/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> -->
  <link href="{% static '/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" />
  <link href="{% static '/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet" />
  <link href="{% static '/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet" />
  <link href="{% static '/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet" />
  <link href="{% static '/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />


  <script src="
https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
</script>
  <script src="
https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
</script>
  <script src="
https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
</script>

  <!-- Template Main CSS File -->
  <link href="{% static '/assets/css/style.css' %}" rel="stylesheet" />
  <link href="{% static 'static/assets/css/style_vertical_menu.css' %}" rel="stylesheet" />
  <link href="{% static '/assets/css/custom.css' %}" rel="stylesheet" />
</head>

<body class="index1 menu90">
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-sticky    ">
    <div class=" align-items-center justify-content-between container">
      <div class="row">
        <div class="col-md-2 col-lg-2">
          <div class="logo">
            <a href="/"><img alt="Stone Centre" src="static/images/mpg_surfaces_7.svg" class="logo" /></a>
          </div>
        </div>
        <div class="col-md-10 col-lg-10">
          <ul id="menu-main-travertine" class="clone-main-menu">
            <li class="menu-item6 call" style="">
              <img src="static/images/call.svg" alt="Phone Number"
                style="width: 20px; margin-top: -3px; color: #faca5e" /><a class="menu-item-title1 mr-6"
                href="tel:0333 242 0255" style="color: #000; font-weight: 600">
                0333 242 0255</a>
            </li>
            <li class="menu-item6 rectangle">
              <a class="fancybox samples-free" href="#inline1" style="color: #000; font-weight: 600 !important">Get Free
                Quote</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->


  <main id="main">{% block body %} {% endblock body %}</main>
  <!-- End #main -->

  <section class="Customers Explore color"
    style=" background-color: #fff; margin-top: 0px;padding: 0px;padding-top: 85px; padding-bottom: 120px;">
    <div class="container customer">
      <h2 class="productstag laptopmac" style="
        font-size: 38px;
    ">Explore Flooring</h2>
      <p class="premun laptopmac">If you're looking to create a commercial or residential landscape design, your paving
        choice will be a key factor in determining the aesthetic of the space. We have a wide selection of natural stone
        flooring available in various colours, styles, finishes and sizes - providing plenty of ideas to inspire your
        design. Additionally, we offer customisation with most of our options to accommodate any brief.</p>
      <div class="row">
        <div class="row lapto87"
          style="margin-top: 30px;--bs-gutter-x: auto !important;padding-left: 29px;padding-right: 2px;">
          <div class="portfolio_outer_box portfolio_outer_box_1">
            <div style="
        overflow: hidden;
        position: relative;
    ">
              <div class="portfolio_outer_box_left_box portfolio_outer_box_left_box_1_1 "
                onclick="if (!window.__cfRLUnblockHandlers) return false; location.href='https://www.stonecentre.com.au/product-category/pool-pavers/';"
                style="background-image: url('static/images/Pavers_Tiles.jpg')">
                <div class="portfolio-title fist6" style="bottom: -316px;height: 349px;">
                  <a href="https://www.stonecentre.com.au/product-category/pool-pavers/" style="
        top: 272px;
    ">Pool Pavers &amp; Tiles</a>
                </div>
              </div>
            </div>
            <div class="portfolio_outer_box_right_box">
              <div style="
        overflow: hidden;
        position: relative;
    ">
                <div class="portfolio_outer_box_right_subbox portfolio_outer_box_right_subbox_1_2"
                  onclick="if (!window.__cfRLUnblockHandlers) return false; location.href='/product-category/pool-surfaces/';"
                  style="background-image: url('static/images/Pool_Tiles.jpg');">
                  <div class="portfolio-title fist1"><a href="/product-category/pool-surfaces/">Pool Tiles</a></div>
                </div>
              </div>
              <div style="
        overflow: hidden;
        position: relative;
    ">
                <div class="portfolio_outer_box_right_subbox portfolio_outer_box_right_subbox_1_4"
                  onclick="if (!window.__cfRLUnblockHandlers) return false; location.href='/product-category/crazy-pave/';"
                  style="background-image: url('static/images/Crazy-Pave.jpg')">
                  <div class="portfolio-title fist2"><a href="/product-category/crazy-pave/">Crazy Paving</a></div>
                </div>
              </div>
              <div style="
        overflow: hidden;
        position: relative;
    ">
                <div class="portfolio_outer_box_right_subbox portfolio_outer_box_right_subbox_1_3"
                  onclick="if (!window.__cfRLUnblockHandlers) return false; location.href='/product-category/porcelain/';"
                  style="background-image: url('static/images/cable.jpg')">
                  <div class="portfolio-title fist3"><a href="/product-category/porcelain/">Cobbles</a></div>
                </div>
              </div>
              <div style="
        overflow: hidden;
        position: relative;
    ">
                <div class="portfolio_outer_box_right_subbox portfolio_outer_box_right_subbox_1_5"
                  onclick="if (!window.__cfRLUnblockHandlers) return false; location.href='/product-category/stepping-stones/';"
                  style="background-image: url('static/images/Steppers.jpg')">
                  <div class="portfolio-title fist4"><a href="/product-category/stepping-stones/">Steppers</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="Customers Walling" style="background-color: #fff;
    margin-top: 0px;
    padding: 0px !important;
    padding-top: 90px !important;
    padding-bottom: 40px !important;">
    <div class="container customer">
      <h2 class="productstag laptopmac" style="
    font-size: 38px;
">Explore Handcrafted Walling</h2>
      <p class="premun laptopmac">Whether you’re looking for a subtle accent wall or a statement feature, natural stone
        walling can truly transform your space and bring a unique aesthetic to your project. From an external facade to
        an internal feature or a fireplace, our exquisite walling range is incredibly versatile and can elevate your
        design to the next level. Available in many stunning colours, it beautifully adds texture and depth to both
        indoor and outdoor spaces.</p>
      <div class="row">
        <div class="row lapto87"
          style="margin-top: 30px;--bs-gutter-x: auto !important;padding-left: 29px;padding-right: 2px;">
          <div class="portfolio_outer_box portfolio_outer_box_1">
            <div style="
    overflow: hidden;
    position: relative;
">
              <div class="portfolio_outer_box_left_box portfolio_outer_box_left_box_1_1 walling2 "
                onclick="if (!window.__cfRLUnblockHandlers) return false; location.href='/product-category/walling/free-style/';"
                style="background-image: url('static/images/Freestyle_Walling.jpg')">
                <div class="portfolio-title fist6" style="bottom: -316px;height: 349px;">
                  <a href="/product-category/walling/free-style/" style="
    top: 272px;
">Free Style</a>
                </div>
              </div>
            </div>
            <div class="portfolio_outer_box_right_box" style="
    grid-template-columns: none;
">
              <div style="
    overflow: hidden;
    position: relative;
">
                <div class="portfolio_outer_box_right_subbox portfolio_outer_box_right_subbox_1_2 walling3"
                  onclick="if (!window.__cfRLUnblockHandlers) return false; location.href='/product-category/walling/stacked-stone/';"
                  style="background-image: url('static/images/Stacked Stone.jpg');">
                  <div class="portfolio-title fist1"><a href="/product-category/walling/stacked-stone/">Stacked
                      Stone</a></div>
                </div>
              </div>
              <div style="
    overflow: hidden;
    position: relative;
">
                <div class="portfolio_outer_box_right_subbox portfolio_outer_box_right_subbox_1_4 walling3"
                  onclick="if (!window.__cfRLUnblockHandlers) return false; location.href='/product-category/walling/dry-stone/';"
                  style="background-image: url('static/images/Drystone_Walling.jpg')">
                  <div class="portfolio-title fist2"><a href="/product-category/walling/dry-stone/">Dry Stone</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="best-selling-products Popular" style="
        background-color: #f9f9f9;
        padding-top: 66px !important;
        padding-bottom: 80px !important;
      ">
    <div class="container customer">
      <h2 class="productstag laptopmac" style="font-size: 38px">
        Most Popular
      </h2>
      <p class="premun laptopmac">
        Discover the beauty of natural stone with our extensive range of
        products, featuring the latest trends and timeless favourites. Enhance
        the elegance and sophistication of your home with our popular product
        ranges especially curated to ensure that our customers get the very
        best. With our wide selection of natural stone products, you are sure
        to find the perfect match for your design project.
      </p>
      <div class="row product">
        <div class="col-md-3">
          <p class="products-img">
            <a href="/product/silver-travertine/" tabindex="0"><img
                src="static/images/kandla-grey-porcelain-paving-1.webp" /></a>
          </p>
          <p class="products-name">
            <a href="/product/silver-travertine/" tabindex="0">Porcelain</a>
          </p>
        </div>
        <div class="col-md-3">
          <div style="overflow: hidden; position: relative">
            <p class="products-img">
              <a href="/product/oglio-limestone/" tabindex="0"><img src="static/images/quartz-1.webp" /></a>
            </p>
          </div>
          <p class="products-name">
            <a href="/product/oglio-limestone/" tabindex="0">Quartz</a>
          </p>
        </div>
        <div class="col-md-3">
          <div style="overflow: hidden; position: relative">
            <p class="products-img">
              <a href="/product/indiana-white-limestone/" tabindex="0"><img
                  src="static/images/White-Marble-Countertops-1.jpg" /></a>
            </p>
          </div>
          <p class="products-name">
            <a href="/product/indiana-white-limestone/" tabindex="0">Marble</a>
          </p>
        </div>
        <div class="col-md-3">
          <div style="overflow: hidden; position: relative">
            <p class="products-img">
              <a href="/product/carbon-black-granite/" tabindex="0"><img
                  src="static/images/Mint-Fossil-Sandstone-1.jpg" /></a>
            </p>
          </div>
          <p class="products-name">
            <a href="/product/carbon-black-granite/" tabindex="0">Sandstone</a>
          </p>
        </div>
        <div class="col-md-3">
          <div style="overflow: hidden; position: relative">
            <p class="products-img">
              <a href="/product/classic-light-travertine-crazy-pave/" tabindex="0"><img
                  src="static/images/Lime-black.webp" /></a>
            </p>
          </div>
          <p class="products-name">
            <a href="/product/classic-light-travertine-crazy-pave/" tabindex="0">Limestone</a>
          </p>
        </div>
        <div class="col-md-3">
          <div style="overflow: hidden; position: relative">
            <p class="products-img">
              <a href="/product/raven-black-granite/" tabindex="0"><img
                  src="static/images/ceramic-granite-tiles-768x512-1.webp" /></a>
            </p>
          </div>
          <p class="products-name">
            <a href="/product/raven-black-granite/" tabindex="0">Granite</a>
          </p>
        </div>


      </div>
    </div>
    </div>
  </section>


  <section class="our-process" style="
    padding-top: 100px;
    padding-bottom: 100px;
">
    <div class="container customer">
      <div class="row">
        <div class="col-lg-12 col-md-12 text-center theratio-align-center">
          <div>
            <h3 class="productstag laptopmac" style="
    font-size: 28px;
    text-align: center;
    margin-bottom: 54px;
">More Than Just Stones</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 align-self-center">
          <div class="process-classic sleft text-center text-lg-right px-5 px-lg-0">
            <span>01.</span>
            <h6>Legacy</h6>
            <p class="px-md-5 px-lg-0">It all began in 1984, when we started our journey in the natural stone industry.
              Today, we are proud to be the most trusted and chosen brand across Australia. We are committed to being
              the best in business.</p>
          </div>
          <div class="process-classic sleft text-center text-lg-right px-5 px-lg-0 mb-lg-0">
            <span>02.</span>
            <h6>Quality</h6>
            <p class="px-md-5 px-lg-0">At Stone Centre, quality is at the core of our business operations. That's why we
              only source from the finest quarries around the world and use state-of-the-art fabrication techniques.
            </p>
          </div>
        </div>
        <div class="col-lg-4 text-center mb-5 mb-lg-0">
          <img src="static/images/image1-process.webp" alt="">
        </div>
        <div class="col-lg-4 align-self-center">
          <div class="process-classic sright text-center text-lg-left px-5 px-lg-0 rt">
            <span>03.</span>
            <h6>Pricing</h6>
            <p class="px-md-5 px-lg-0">Our pricing ensures that you'll get the best value for your money. And our
              dedication to quality means that your investment will last for generations to come. </p>
          </div>
          <div class="process-classic sright text-center text-lg-left px-5 px-lg-0 mb-lg-0 pt">
            <span>04.</span>
            <h6>Customer Service </h6>
            <p class="px-md-5 px-lg-0">We understand natural stone and we understand you, and we're committed to
              providing an outstanding customer experience, from start to finish.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="frequently Blogs" style="
        background-color: #f9f9f9;
        padding-top: 83px;
        padding-bottom: 100px;
        margin-top: 0px;
      ">
    <div class="container customer">
      <h3 class="productstag laptopmac" style="font-size: 28px">
        Latest Posts &amp; Blogs
      </h3>

      <p class="premun laptopmac">
        Get the latest ideas, insights and tips from the Stone Centre team.
        Read on.
      </p>

      <div class="row blog-sp" style="margin-top: 50px">
        <div class="col-md-3">
          <div class="bolbg">
            <div class="blog-t">
              <a href="blog/granite-vs-marble-pavers-for-your-outdoor-project/">
                <img src="static/images/blog1.jpg" alt="" /></a>
            </div>
            <p class="blog-t2">17 Feb 2023</p>
            <a class="blog-t3" href="/blog/granite-vs-marble-pavers-for-your-outdoor-project/">
              <h3 class="blog-t4">
                Granite vs Marble Pavers for Your Outdoor Project
              </h3>
            </a>
            <p class="blog-t5">
              Granite is the best choice for you if you're looking for a
              natural stone with more durability, scratch resistance, and l...
            </p>
            <a class="blog-t67" href="/blog/granite-vs-marble-pavers-for-your-outdoor-project/">Read More</a>
          </div>
        </div>

        <div class="col-md-3">
          <div class="bolbg">
            <div class="blog-t">
              <a href="blog/travertine-pavers-most-popular-natural-stone-for-2023/">
                <img src="static/images/blog2.jpg" alt="" /></a>
            </div>
            <p class="blog-t2">16 Feb 2023</p>
            <a class="blog-t3" href="/blog/travertine-pavers-most-popular-natural-stone-for-2023/">
              <h3 class="blog-t4">
                Travertine Pavers - The Most Popular Natural Stone for 2023
              </h3>
            </a>
            <p class="blog-t5">
              Stone Centre can help you bring your outdoor landscaping ideas
              to life by offering a wide selection of Travertine......
            </p>
            <a class="blog-t67" href="/blog/travertine-pavers-most-popular-natural-stone-for-2023/">Read More</a>
          </div>
        </div>

        <div class="col-md-3">
          <div class="bolbg">
            <div class="blog-t">
              <a href="blog/bring-home-the-beauty-of-travertine-stone/">
                <img src="static/images/blog3.jpg" alt="" /></a>
            </div>
            <p class="blog-t2">09 Feb 2023</p>
            <a class="blog-t3" href="static/images/blog3.jpg">
              <h3 class="blog-t4">
                Bring Home the Beauty of Travertine Stone
              </h3>
            </a>
            <p class="blog-t5">
              Travertine is a natural stone that has been used for centuries
              to add beauty and style to homes and ......
            </p>
            <a class="blog-t67" href="/blog/bring-home-the-beauty-of-travertine-stone/">Read More</a>
          </div>
        </div>

        <div class="col-md-3">
          <div class="bolbg">
            <div class="blog-t">
              <a href="blog/natural-stone-is-worth-considering/">
                <img src="static/images/blog4.jpg" alt="" /></a>
            </div>
            <p class="blog-t2">26 Jan 2023</p>
            <a class="blog-t3" href="/blog/natural-stone-is-worth-considering/">
              <h3 class="blog-t4">Natural Stone is Worth Considering!</h3>
            </a>
            <p class="blog-t5">
              With all the beauty and durability of natural stone, you can
              create an outdoor space that's truly unique....
            </p>
            <a class="blog-t67" href="/blog/natural-stone-is-worth-considering/">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Products</h4>
            <ul>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">Paving</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">Porcelain</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">Quartz</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">Circles</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#"> Cobbles</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="/">Home</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="/about">About us</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">Services</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Terms of service</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Privacy policy</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <!-- <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form> -->
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Location</h3>
            <p>
              206, 141-157 Acre Lane <br />
              London SW2 5UA<br />
              <br /><br />
              <strong>Phone:</strong> 0333 242 0255<br />
              <strong>Email:</strong> sales@mpgstone.co.uk<br />
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">
      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright
          <strong><span>MPG Stone Pvt Ltd.</span></strong> All Rights Reserved
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>


  <!-- bootstrap 5.0 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <!-- Vendor JS Files -->


  <!-- <script src="{% static '/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script> -->
  <script src="{% static '/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static '/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static '/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static '/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static '/assets/js/main.js' %}"></script>

  <!-- <script>
    var btns = document.querySelectorAll(".menu-item");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function () {

        this.className += " active";
      });
    }

  </script> -->

  <!-- <script>
    function addClassToLi() {
      var li = parent.document.getElementById("test1");
      li.classList.add("active");
    }
</script> 
</body> -->

</html>