{% extends 'base.html' %}
{% block title %}
Deoli-Green
{% endblock title %}

{% block body %}
{% load static %}

<div class="fullwidth-template">
    <div class="container">


        <div class="row">











            <div class="col-md-2 menunew25 menu" style="display: none">
                <div class="navbar-collapse">
                    <ul id="menu-main-menu" class="nav nav-pills nav-stacked menu" style="display: none">
                        <li id="test1" class="menu-item" runat="server">
                            <a href="/porcelain" onclick="addClassToLi()">PORCELAIN</a>
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="/porcelain-indoor">Porcelain Indoor</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Porcelain Outdoor</a>
                                </li>
                            </ul>
                        </li>
                        <li id="test2" class="menu-item" runat="server">
                            <a href="/veneer">VENEER</a>
                        </li>
                        <li id="test3" class="menu-item" runat="server">
                            <a href="/spc">SPC</a>
                        </li>
                    </ul>
                </div>
            </div>



            <div class="col-md-2 main-sub-navigation do-transition menu bmenu">
                <div class="only-mobile-h">
                    <a class="image-title-link-box product  not-slide onlyone" href="/Autumn-Rustic">
                        <span class="slide">Autumn Rustic</span>
                        <img class="img-responsive slide" src="static/images/Autumn-Rustic.webp">
                    </a>
                    <a class="image-title-link-box product  not-slide onlyone" href="/California-Gold">
                        <span class="slide">California Gold</span>
                        <img class="img-responsive slide" src="static/images/California-Gold.webp">
                    </a>
                    <a class="image-title-link-box product  not-slide onlyone" href="/Copper">
                        <span class="slide">Copper</span>
                        <img class="img-responsive slide" src="static/images/Copper.webp">
                    </a>
                    <a class="image-title-link-box product  not-slide onlyone" href="/D-Red">
                        <span class="slide">D-Red</span>
                        <img class="img-responsive slide" src="static/images/D-Red.webp">
                    </a>
                    <a class="image-title-link-box product  not-slide onlyone" href="/Deoli-Green">
                        <span class="slide">Deoli Green</span>
                        <img class="img-responsive slide" src="static/images/Deoli-Green.webp">
                    </a>
                    <a class="image-title-link-box product  not-slide onlyone" href="/Galaxy">
                        <span class="slide">Galaxy</span>
                        <img class="img-responsive slide" src="static/images/Galaxy.webp">
                    </a>
                    <a class="image-title-link-box product  not-slide onlyone" href="/Himalayan-Flakes">
                        <span class="slide">Himalayan-Flakes</span>
                        <img class="img-responsive slide" src="static/images/Himalayan-Flakes.webp">
                    </a>

                </div>
            </div>


            <div class="col-md-8">


                <div class="imgproducts"><img src="static/images/Deoli-Green.webp" alt="Granite Pavers &amp; Tiles">
                </div>

                <h1 class="productstag" style="margin-top: 55px;">Veneer Slabs</h1>

                <p class="premun"></p>
                <p class="premun">Stone Veneer is a thin layer of any stone used as decorative facing material that is
                    not meant to be load bearing. Veneer stone is a great choice for homeowners looking to add a unique
                    and natural look to their home. It is also a great option for those looking for a more affordable
                    alternative to natural stone. Veneer stone is easy to install and maintain, making it a great
                    choice.</p>

                <p class="premun">As buildings began to grow taller with the advent of skeletal steel framing, it became
                    necessary to diminish the thickness and weight of masonry walls in order to withstand the dead
                    weight of the building. Without steel supports, load bearing walls could grow several meters thick
                    on their lowest stories. A solution employed in the construction of early skyscrapers was the use of
                    a steel structural frame that supported exterior stone walls at every floor, thereby distributing
                    the load into the frame. This avoided a gradual buildup of weight that resulted in inconveniently
                    thick lower walls.</p>

                <p class="premun">The direct or adhered fixing system relies on a mortar or cement bonding between the
                    substrate wall and the backside of the stone veneer. This application is generally used indoors as
                    exterior weathering and temperature extremes cause the veneer to crack and spall.</p>

                <p></p>




            </div>

        </div>

        <!-- image for porcelain-slab -->
        <div class="col-md-12">



            <h1 class="productstag" style="margin-top: 55px;">View Our Premium Veneer Slabs &amp; Tiles</h1>

            <p class="premun"></p>
            <p class="premun">More Items</p>



            <div class="row" style="
      margin-top: 50px;
  ">


                <div class="col-md-3">
                    <div class="product-box">
                        <a href="/product-category/pavers-tiles/travertine/"><img src="static/images/Autumn-Rustic.webp"
                                alt=""
                                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
                        <p class="product-name"><a href="/product-category/pavers-tiles/travertine/">Ammonite Bianco</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-box">
                        <a href="/product-category/pavers-tiles/granite/"><img src="static/images/California-Gold.webp"
                                alt=""
                                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
                        <p class="product-name"><a href="/product-category/pavers-tiles/granite/">Granite</a></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-box">
                        <a href="/product-category/pavers-tiles/limestone/"><img src="static/images/Copper.webp" alt=""
                                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
                        <p class="product-name"><a href="/product-category/pavers-tiles/limestone/">Antique Botticino
                                And Black Gold
                                Travertine</a></p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="product-box">
                        <a href="/product-category/pavers-tiles/travertine/"><img src="static/images/D-Red.webp" alt=""
                                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
                        <p class="product-name"><a href="/product-category/pavers-tiles/travertine/">Ardesia Grigio</a>
                        </p>
                    </div>
                </div>




            </div>

            <div class="row mobile-row" style="
      margin-top: 20px;
  ">
                <div class="col-md-3">
                    <div class="product-box">
                        <a href="/product-category/pavers-tiles/travertine/"><img src="static/images/Deoli-Green.webp"
                                alt=""
                                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
                        <p class="product-name"><a href="/product-category/pavers-tiles/travertine/">Armani Beige And
                                Armani
                                Gold</a></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-box">
                        <a href="/product-category/pavers-tiles/granite/"><img src="static/images/Galaxy.webp" alt=""
                                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
                        <p class="product-name"><a href="/product-category/pavers-tiles/granite/">Armani Gold And
                                Armani_Grey</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-box">
                        <a href="/product-category/pavers-tiles/limestone/"><img
                                src="static/images/Himalayan-Flakes.webp" alt=""
                                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
                        <p class="product-name"><a href="/product-category/pavers-tiles/limestone/">Astonia Grey</a></p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="product-box">
                        <a href="/product-category/pavers-tiles/travertine/"><img
                                src="static/images/Indian-Autumn.jpg.webp" alt=""
                                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
                        <p class="product-name"><a href="/product-category/pavers-tiles/travertine/">Atlantic White</a>
                        </p>
                    </div>
                </div>


            </div>

            <div class="row mobile-row" style="
      margin-top: 20px;
  ">


                <div class="col-md-3">
                    <div class="product-box">
                        <a href="/product-category/pavers-tiles/travertine/"><img src="static/images/k-black.webp"
                                alt=""
                                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
                        <p class="product-name"><a href="/product-category/pavers-tiles/travertine/">Basil Grafito</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-box">
                        <a href="/product-category/pavers-tiles/granite/"><img src="static/images/Kund-Multi.jpg.webp"
                                alt=""
                                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
                        <p class="product-name"><a href="/product-category/pavers-tiles/granite/">Breccia Beige</a></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-box">
                        <a href="/product-category/pavers-tiles/limestone/"><img src="static/images/Multi-Pink.webp"
                                alt=""
                                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
                        <p class="product-name"><a href="/product-category/pavers-tiles/limestone/">calacatta Bianco
                                Oro</a></p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="product-box">
                        <a href="/product-category/pavers-tiles/travertine/"><img src="static/images/Ocean-Green.webp"
                                alt=""
                                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
                        <p class="product-name"><a href="/product-category/pavers-tiles/travertine/">calacatta
                                Borghini</a></p>
                    </div>
                </div>



            </div>
            <p></p>




        </div>
    </div>
</div>






<script>
    {
        var li = parent.document.getElementById("test1");
        li.classList.add("active");
    }
</script>
</body>


{% endblock body %}