{% extends 'base.html' %}
{% block title %}
Outdoor-Stone-pavers
{% endblock title %}
{% block content %}

<h1>Welcome to Dhamaka Sale</h1>

{% endblock content %}
{% block body %}
{% load static %}

<div class="fullwidth-template">
    <div class="container">
  
  
      <div class="row  ">
        <div class="col-md-2 menunew25 menu" style="display: none">
          <div class="navbar-collapse">
            <ul id="menu-main-menu" class="nav nav-pills nav-stacked menu" style="display: none">
              <li id="test1" class="menu-item" runat="server">
                <a href="/slab-tiles" onclick="addClassToLi()">SLAB &amp; TILES</a>
                <ul class="sub-menu">
                  <li class="menu-item">
                    <a href="/product-category/pavers-tiles/granite/">Porcelain Slabs</a>
                  </li>
                  <li class="menu-item">
                    <a href="/product-category/pavers-tiles/granite/">Quartz</a>
                  </li>
  
                  <li class="menu-item">
                    <a href="/product-category/pavers-tiles/granite/">Granite</a>
                  </li>
  
                  <li class="menu-item">
                    <a href="/product-category/pavers-tiles/granite/">Marble</a>
                  </li>
                  
                  
  
                  <li class="menu-item">
                    <a href="/product-category/pavers-tiles/sandstone/">Sandstone</a>
                  </li>
  
                  <li class="menu-item">
                    <a href="/product-category/pavers-tiles/limestone/">Limestone</a>
                  </li>
                  <li class="menu-item">
                    <a href="/product-category/pavers-tiles/bluestone/">Slate</a>
                  </li>
                  
                  <li class="menu-item">
                    <a href="/product-category/pavers-tiles/slatestone/">Travertine</a>
                  </li>
                  <li class="menu-item">
                    <a href="/product-category/pavers-tiles/slatestone/">Quartzite</a>
                  </li>
                  <li class="menu-item">
                    <a href="/product-category/pavers-tiles/slatestone/">Mosaics</a>
                  </li>
                  <li class="menu-item">
                    <a href="/product-category/pavers-tiles/slatestone/">Precious Stone</a>
                  </li>
                  <li class="menu-item">
                    <a href="/product-category/pavers-tiles/slatestone/">Veneer</a>
                  </li>
  
                  
                  
                </ul>
              </li>
              <li id="test2" class="menu-item" runat="server">
                <a href="/outdoor-stones-pavers">OUTDOOR STONES &amp; PAVERS</a>
  
                <!-- OUTDOOR STONES &amp; PAVERS -->
                <ul class="sub-menu">
                  <li class="menu-item">
                    <a href="/product-category/walling/free-style/">Outdoor Paving</a>
                  </li>
                  <li class="menu-item">
                    <a href="/product-category/walling/stacked-stone/">Pool Copping</a>
                  </li>
                  <li class="menu-item">
                    <a href="/product-category/walling/dry-stone/">Circles</a>
                  </li>
                  <li class="menu-item">
                    <a href="/product-category/walling/traditional/">Block & Setts</a>
                  </li>
                  <li class="menu-item">
                    <a href="/product-category/walling/traditional/">Kerb Stone</a>
                  </li>
                  <li class="menu-item">
                    <a href="/product-category/walling/traditional/">Wall Panels</a>
                  </li>
                  <li class="menu-item">
                    <a href="/product-category/walling/traditional/">Stepping Stones</a>
                  </li>
                  <li class="menu-item">
                    <a href="/product-category/walling/traditional/">Planters</a>
                  </li>
                  <li class="menu-item">
                    <a href="/product-category/walling/traditional/">Steps</a>
                  </li>
                  <li class="menu-item">
                    <a href="/product-category/walling/traditional/">Benches</a>
                  </li>
                </ul>
              </li>
              <li id="test3" class="menu-item" runat="server">
                <a href="/porcelain">PORCELAIN</a>
  
                <ul class="sub-menu">
                  <li class="menu-item">
                    <a href="/product-category/walling/free-style/">Outdoor</a>
                  </li>
                  <li class="menu-item">
                    <a href="/product-category/walling/stacked-stone/">Indoor</a>
                  </li>
                  
                  
                </ul>
  
              </li>
            </ul>
          </div>
        </div>
  
  
  
  
  
  
  
  
  
        <div class="col-md-10">
          <section class="hero-slider hero-style">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <a class="explorer" href="/product-category/walling/">
                    <img src="static/images/ban3.jpg" class="d-block w-100" alt="..." />
                    <p>Explore The full range</p>
                  </a>
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Exquisite Outdoor</h5>
                    <p>
  
                      Give your outdoor living space a luxurious touch with our exquisite range of superior quality
                      natural stone pavers and tiles. The beauty of natural paving stones is their subtle uniqueness in
                      colour and texture that add opulence to any space.
                    </p>
                  </div>
                </div>
                <div class="carousel-item">
                  <a class="explorer" href="/product-category/walling/">
                    <img src="static/images/ban4.jpg" class="d-block w-100" alt="..." />
                    <p>Explore The full range</p>
                  </a>
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Exclusive Indoor</h5>
                    <p>
  
                      Whether you want to create a classical appearance or have a minimalistic and simple outlook, our
                      range of indoor tiles will complement your style of living and give a dreamy look to your space.
                    </p>
                  </div>
                </div>
                <div class="carousel-item">
                  <a class="explorer" href="/product-category/walling/">
                    <img src="static/images/ban5.jpg" class="d-block w-100" alt="..." />
                    <p>Explore The full range</p>
                  </a>
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Modern Pool</h5>
                    <p>
  
                      Give your pool surround a sophisticated touch with unique colours and muted tones. A design-savvy
                      pool that will make you want to dive right in and float the day away.
                    </p>
                  </div>
                </div>
              </div>
  
            </div>
          </section>
        </div>
      </div>
    </div>
  </div> 



  <script>
    {
      var li = parent.document.getElementById("test2");
      li.classList.add("active");
    }
</script> 
</body>


{% endblock body %}
