{% extends 'base.html' %}
{% block title %}
Quartz
{% endblock title %}
{% block content %}

<h1>Welcome to Dhamaka Sale</h1>

{% endblock content %}
{% block body %}
{% load static %}

<div class="fullwidth-template">
  <div class="container">


    <div class="row">











      <div class="col-md-2 menunew25 menu" style="display: none">
        <div class="navbar-collapse">
          <ul id="menu-main-menu" class="nav nav-pills nav-stacked menu" style="display: none">
            <li id="test1" class="menu-item" runat="server">
              <a href="/slab-tiles" onclick="addClassToLi()">SLAB &amp; TILES</a>
              <ul class="sub-menu">
                <li class="menu-item">
                  <a href="/porcelain-slab">Porcelain Slabs</a>
                </li>
                <li class="menu-item">
                  <a href="/quartz">Quartz</a>
                </li>

                <li class="menu-item">
                  <a href="/product-category/pavers-tiles/granite/">Granite</a>
                </li>

                <li class="menu-item">
                  <a href="/product-category/pavers-tiles/granite/">Marble</a>
                </li>



                <li class="menu-item">
                  <a href="/product-category/pavers-tiles/sandstone/">Sandstone</a>
                </li>

                <li class="menu-item">
                  <a href="/product-category/pavers-tiles/limestone/">Limestone</a>
                </li>
                <li class="menu-item">
                  <a href="/product-category/pavers-tiles/bluestone/">Slate</a>
                </li>

                <li class="menu-item">
                  <a href="/product-category/pavers-tiles/slatestone/">Travertine</a>
                </li>
                <li class="menu-item">
                  <a href="/product-category/pavers-tiles/slatestone/">Quartzite</a>
                </li>
                <li class="menu-item">
                  <a href="/product-category/pavers-tiles/slatestone/">Mosaics</a>
                </li>
                <li class="menu-item">
                  <a href="/product-category/pavers-tiles/slatestone/">Precious Stone</a>
                </li>
                <li class="menu-item">
                  <a href="/product-category/pavers-tiles/slatestone/">Veneer</a>
                </li>



              </ul>
            </li>
            <li id="test2" class="menu-item" runat="server">
              <a href="/outdoor-stones-pavers">OUTDOOR STONES &amp; PAVERS</a>

              <!-- OUTDOOR STONES &amp; PAVERS -->
              <ul class="sub-menu">
                <li class="menu-item">
                  <a href="/product-category/walling/free-style/">Outdoor Paving</a>
                </li>
                <li class="menu-item">
                  <a href="/product-category/walling/stacked-stone/">Pool Copping</a>
                </li>
                <li class="menu-item">
                  <a href="/product-category/walling/dry-stone/">Circles</a>
                </li>
                <li class="menu-item">
                  <a href="/product-category/walling/traditional/">Block & Setts</a>
                </li>
                <li class="menu-item">
                  <a href="/product-category/walling/traditional/">Kerb Stone</a>
                </li>
                <li class="menu-item">
                  <a href="/product-category/walling/traditional/">Wall Panels</a>
                </li>
                <li class="menu-item">
                  <a href="/product-category/walling/traditional/">Stepping Stones</a>
                </li>
                <li class="menu-item">
                  <a href="/product-category/walling/traditional/">Planters</a>
                </li>
                <li class="menu-item">
                  <a href="/product-category/walling/traditional/">Steps</a>
                </li>
                <li class="menu-item">
                  <a href="/product-category/walling/traditional/">Benches</a>
                </li>
              </ul>
            </li>
            <li id="test3" class="menu-item" runat="server">
              <a href="/porcelain">PORCELAIN</a>

              <ul class="sub-menu">
                <li class="menu-item">
                  <a href="/product-category/walling/free-style/">Outdoor</a>
                </li>
                <li class="menu-item">
                  <a href="/product-category/walling/stacked-stone/">Indoor</a>
                </li>


              </ul>

            </li>
          </ul>
        </div>
      </div>



      <div class="col-md-2 main-sub-navigation do-transition menu bmenu">
        <div class="only-mobile-h">
          <a class="image-title-link-box product  not-slide onlyone" href="/product/carbon-black-granite/">
            <span class="slide">Aldo Beige And Noce Marrone</span>
            <img class="img-responsive slide" src="static/images/Alaska-Grey-300x300.jpg.webp">
          </a>
          <a class="image-title-link-box product  not-slide onlyone" href="/product/sesame-grey-granite/">
            <span class="slide">Ammonite Bianco</span>
            <img class="img-responsive slide" src="static/images/Alaska-White-grit-close-up-1-300x300.jpg.webp">
          </a>
          <a class="image-title-link-box product  not-slide onlyone" href="/product/silver-grey-granite/">
            <span class="slide">Antique Botticino And Black Gold Travertine</span>
            <img class="img-responsive slide" src="static/images/Bottochino-Classic-Close-Up-1-300x300.jpg.webp">
          </a>
          <a class="image-title-link-box product  not-slide onlyone" href="/product/highland-grey-granite/">
            <span class="slide">Ardesia Grigio</span>
            <img class="img-responsive slide" src="static/images/Calacatta-Altnair-close-up-1-300x300.jpg.webp">
          </a>
          <a class="image-title-link-box product  not-slide onlyone" href="/product/raven-black-granite/">
            <span class="slide">Armani Beige And Armani Gold</span>
            <img class="img-responsive slide" src="static/images/Calacatta-Astrix-close-up-1-300x300.jpg.webp">
          </a>
          <a class="image-title-link-box product  not-slide onlyone" href="/product/honey-jesper-granite/">
            <span class="slide">Armani Gold And Armani Grey</span>
            <img class="img-responsive slide" src="static/images/Calacatta-Black-White-300x300.jpg.webp">
          </a>
          <a class="image-title-link-box product  not-slide onlyone" href="/product/jesper-red-granite/">
            <span class="slide">Astonia Grey</span>
            <img class="img-responsive slide" src="static/images/Calacatta-Empero-close-up-1-300x300.jpg.webp">
          </a>

        </div>
      </div>


      <div class="col-md-8">


        <div class="imgproducts"><img src="static/images/Calacatta-Lago2.webp" alt="Granite Pavers &amp; Tiles"></div>

        <h1 class="productstag" style="margin-top: 55px;">Quartz</h1>

        <p class="premun"></p>
        <p class="premun">Quartz is a hard, crystalline mineral composed of silicon and oxygen atoms. It is one of the
          famous and most abundant mineral found on earth. In its purest form Quartz is white in colour but different
          impurities can cause the colour to change to purple, pink, brown etc.</p>

        <p class="premun">There are multiple varieties of Quartz with different uses. It has a very high melting point
          and can withstand critically high temperatures. Engineered Quart Stone which are industrially made from raw
          Quartz are popularly used as countertops and slabs in may residential and commercial buildings. They have
          certain qualities that make them special. The industry, in fact, is increasingly using the term engineered
          stone to refer to this type of countertop.</p>

        <p class="premun">People might think of Quartz in terms of kitchen and bathroom counters. But Quartz is also
          slabbed out in massive sizes for floors, especially in commercial structures like shopping malls. In addition
          Quartz does not scratch easily.</p>
        <p></p>




      </div>

    </div>
  </div>
</div>



<script>
  {
    var li = parent.document.getElementById("test1");
    li.classList.add("active");
  }
</script>
</body>


{% endblock body %}