{% extends 'base.html' %}
{% block title %}
SOFIA-BD82151-10
{% endblock title %}

{% block body %}
{% load static %}

<div class="fullwidth-template">
    <div class="container">


        <div class="row">











            <div class="col-md-2 menunew25 menu" style="display: none">
                <div class="navbar-collapse">
                    <ul id="menu-main-menu" class="nav nav-pills nav-stacked menu" style="display: none">
                        <li id="test1" class="menu-item" runat="server">
                            <a href="/porcelain" onclick="addClassToLi()">PORCELAIN</a>
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="/porcelain-indoor">Porcelain Indoor</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Porcelain Outdoor</a>
                                </li>
                            </ul>
                        </li>
                        <li id="test2" class="menu-item" runat="server">
                            <a href="/veneer">VENEER</a>
                        </li>
                        <li id="test3" class="menu-item" runat="server">
                            <a href="/spc">SPC</a>
                        </li>
                    </ul>
                </div>
            </div>



            <div class="col-md-2 main-sub-navigation do-transition menu bmenu">
                <div class="only-mobile-h">
                    <a class="image-title-link-box product  not-slide onlyone" href="/ALAMO-K1082L-4">
                        <span class="slide">ALAMO-K1082L-4</span>
                        <img class="img-responsive slide" src="static/images/ALAMO-K1082L-4.png">
                    </a>
                    <a class="image-title-link-box product  not-slide onlyone" href="/VERONA-K1271L-2">
                        <span class="slide">VERONA-K1271L-2</span>
                        <img class="img-responsive slide" src="static/images/VERONA-K1271L-2.png">
                    </a>
                    <a class="image-title-link-box product  not-slide onlyone" href="/ZION-K1223-12">
                        <span class="slide">ZION-K1223-12</span>
                        <img class="img-responsive slide" src="static/images/ZION-K1223-12.png">
                    </a>
                    <a class="image-title-link-box product  not-slide onlyone" href="/TWILIGHT-BD82178-1">
                        <span class="slide">TWILIGHT-BD82178-1</span>
                        <img class="img-responsive slide" src="static/images/TWILIGHT-BD82178-1.png">
                    </a>
                    <a class="image-title-link-box product  not-slide onlyone" href="/TRENZ-88024L-7">
                        <span class="slide">TRENZ-88024L-7</span>
                        <img class="img-responsive slide" src="static/images/TRENZ-88024L-7.png">
                    </a>
                    <a class="image-title-link-box product  not-slide onlyone" href="/SOFIA-BD82151-10">
                        <span class="slide">SOFIA-BD82151-10</span>
                        <img class="img-responsive slide" src="static/images/SOFIA-BD82151-10.png">
                    </a>
                    <a class="image-title-link-box product  not-slide onlyone" href="/SEDONA-K1273-3">
                        <span class="slide">SEDONA-K1273-3</span>
                        <img class="img-responsive slide" src="static/images/SEDONA-K1273-3.png">
                    </a>

                </div>
            </div>


            <div class="col-md-8">


                <div class="imgproducts"><img src="static/images/SOFIA-BD82151-10.png" alt="Granite Pavers &amp; Tiles">
                </div>

                <h1 class="productstag" style="margin-top: 55px;">SPC</h1>

                <p class="premun"></p>
                <p class="premun">SPC flooring stone refers to a type of flooring material made from a rigid core
                    composed of stone polymer composite (SPC) that is layered with a high-definition print film and a
                    protective wear layer. This type of flooring is becoming increasingly popular due to its durability,
                    ease of maintenance, and wide range of design options.</p>

                <p class="premun">The SPC core is a mixture of limestone, PVC, and other stabilizers, making it highly
                    resistant to impact, moisture, and heat. The high-definition print film layer is applied to the
                    surface of the SPC core and can mimic the appearance of a variety of materials, including natural
                    stone, ceramic tiles, and hardwood.</p>

                <p class="premun">The protective wear layer is applied on top of the print film and helps to resist
                    scratches, stains, and other types of damage. This layer is often treated with special coatings that
                    make the flooring more resistant to UV radiation, making it ideal for use in areas with direct
                    sunlight exposure.</p>
                <p class="premun">SPC flooring stone is available in a variety of styles, colors, and textures, making
                    it a versatile option for a range of interior design styles. It is also relatively easy to install,
                    often requiring only a simple click-and-lock system or adhesive to secure the planks or tiles in
                    place.</p>
                <p class="premun">In summary, SPC flooring stone is a durable, low-maintenance flooring option that is
                    ideal for high-traffic areas and spaces where moisture and heat are a concern. With its wide range
                    of design options and ease of installation, it has become a popular choice for both residential and
                    commercial applications.</p>
                <p></p>




            </div>

        </div>

        <!-- image for porcelain-slab -->
        <div class="col-md-12">



            <h1 class="productstag" style="margin-top: 55px;">View Our Premium SPC Slabs &amp; Tiles</h1>

            <p class="premun"></p>
            <p class="premun">More Items</p>



            <div class="row" style="
      margin-top: 50px;
  ">


                <div class="col-md-3">
                    <div class="product-box">
                        <a href="/product-category/pavers-tiles/travertine/"><img src="static/images/ALAMO-K1082L-4.png"
                                alt=""
                                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
                        <p class="product-name"><a href="/product-category/pavers-tiles/travertine/">ALAMO-K1082L-4</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-box">
                        <a href="/product-category/pavers-tiles/granite/"><img src="static/images/VERONA-K1271L-2.png"
                                alt=""
                                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
                        <p class="product-name"><a href="/product-category/pavers-tiles/granite/">VERONA-K1271L-2</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-box">
                        <a href="/product-category/pavers-tiles/limestone/"><img src="static/images/ZION-K1223-12.png"
                                alt=""
                                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
                        <p class="product-name"><a href="/product-category/pavers-tiles/limestone/">ZION-K1223-12</a>
                        </p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="product-box">
                        <a href="/product-category/pavers-tiles/travertine/"><img
                                src="static/images/TWILIGHT-BD82178-1.png" alt=""
                                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
                        <p class="product-name"><a
                                href="/product-category/pavers-tiles/travertine/">TWILIGHT-BD82178-1</a>
                        </p>
                    </div>
                </div>




            </div>

            <div class="row mobile-row" style="
      margin-top: 20px;
  ">
                <div class="col-md-3">
                    <div class="product-box">
                        <a href="/product-category/pavers-tiles/travertine/"><img
                                src="static/images/SOFIA-BD82151-10.png" alt=""
                                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
                        <p class="product-name"><a
                                href="/product-category/pavers-tiles/travertine/">SOFIA-BD82151-10</a></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-box">
                        <a href="/product-category/pavers-tiles/granite/"><img src="static/images/SEDONA-K1273-3.png"
                                alt=""
                                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
                        <p class="product-name"><a href="/product-category/pavers-tiles/granite/">SEDONA-K1273-3</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-box">
                        <a href="/product-category/pavers-tiles/limestone/"><img src="static/images/QUANTA-88029L-8.png"
                                alt=""
                                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
                        <p class="product-name"><a href="/product-category/pavers-tiles/limestone/">QUANTA-88029L-8</a>
                        </p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="product-box">
                        <a href="/product-category/pavers-tiles/travertine/"><img src="static/images/ORIAN-K1092L-5.png"
                                alt=""
                                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
                        <p class="product-name"><a href="/product-category/pavers-tiles/travertine/">ORIAN-K1092L-5</a>
                        </p>
                    </div>
                </div>


            </div>

            <div class="row mobile-row" style="
      margin-top: 20px;
  ">


                <div class="col-md-3">
                    <div class="product-box">
                        <a href="/product-category/pavers-tiles/travertine/"><img
                                src="static/images/OPTRA-KBW1223-33C.png" alt=""
                                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
                        <p class="product-name"><a
                                href="/product-category/pavers-tiles/travertine/">OPTRA-KBW1223-33C</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-box">
                        <a href="/product-category/pavers-tiles/granite/"><img src="static/images/OPAL-K1255-1.png"
                                alt=""
                                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
                        <p class="product-name"><a href="/product-category/pavers-tiles/granite/">OPAL-K1255-1</a></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-box">
                        <a href="/product-category/pavers-tiles/limestone/"><img src="static/images/NEON-1298-24.png"
                                alt=""
                                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
                        <p class="product-name"><a href="/product-category/pavers-tiles/limestone/">NEON-1298-24</a></p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="product-box">
                        <a href="/product-category/pavers-tiles/travertine/"><img src="static/images/MILANO-6152-1.png"
                                alt=""
                                style="width: 100%;border-radius: 2px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;"></a>
                        <p class="product-name"><a href="/product-category/pavers-tiles/travertine/">MILANO-6152-1</a>
                        </p>
                    </div>
                </div>



            </div>
            <p></p>




        </div>
    </div>
</div>






<script>
    {
        var li = parent.document.getElementById("test1");
        li.classList.add("active");
    }
</script>
</body>


{% endblock body %}